---
layout: base
---
{% assign module=page.categories[1] %}
<div class="container-fluid d-flex flex-grow-1 flex-column">
  <div class="row flex-grow-1">
		{% include side_toolbar.html %}
		<div class="col-xl-6 col-md-9">
			<div class="content p-md-2">
				<h1> {{ page.title }} </h1>
				<!--
				{% if page.slides_code == null %} <div> </div>
				{% else %} <embed src="https://ucdavis365-my.sharepoint.com/:p:/g/personal/jlowepower_ucdavis_edu/{{ page.slides_code }}&action=embedview&wdbipreview=true" width="625px" height="376px" frameborder="0"></object>
				{% endif %}
				-->
				{% if page.livestream_code == null %} <div> </div>
				{% else %} <iframe width="625" height="376" src="https://www.youtube.com/embed/{{ page.livestream_code }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				{% endif %}
				{% if page.slides_code == null %} <div> </div>
				{% else %} <div class="slides-link"> <span> View the slides </span> <a href="https://ucdavis365-my.sharepoint.com/:p:/g/personal/jlowepower_ucdavis_edu/{{ page.slides_code }}&action=embedview&wdbipreview=true"> here</a><span>.</span> <p></p>
				</div>
				{% endif %}
				{{ content }}
				{% if page.discussion %} {% include prompt.html content="<p>General discussion</p>" %} {% endif %}
				{% include next_in_module.html %}
				{% if prev or next %}<hr />{% endif %}
        <div class="row">
					<div class="pagination-section col-sm-6">
				{% if prev %}
						<div class="title">
							Previous submodule:
						</div>
						<a rel="prev" class="prev" href="{{ site.baseurl }}{{ prev.url }}">
							{{ prev.title }} </a>
				{% endif %}
					</div>
				{% if next %}
					<div class="pagination-section text-sm-right col-sm-6">
						<div class="title">
							Next submodule:
						</div>
						<a rel="next" class="next" href="{{ site.baseurl }}{{ next.url }}"> {{ next.title }}
						</a>
					</div>
				{% endif %}
        </div>
			</div>
		</div>
  </div>
</div>
